package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import com.fasterxml.jackson.annotation.JsonProperty
{{#models}}

{{#model}}

case class {{classname}} (
  {{#vars}}

  {{#description}}/* {{{description}}} */
  {{/description}}
  @JsonProperty("{{baseName}}") {{name}}: {{datatype}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}})
{{/model}}
{{/models}}